.BookTableCon--container {
    margin: 2rem 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.BookTable-image {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    border: 4px solid;
    border-image: conic-gradient( #F1C376, rgb(52, 45, 32), #DC5F00,#F1C376) 1;

}

/* .BookTableRightSide{
    
} */


/* The "cards__container" is the class where cards render in FeaturCards */
@media screen and (max-width: 575.98px) {

    .BookTableCon--container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .BookTable-image {
        width: 100%;
    }

}

@media screen and (min-width: 576px) and (max-width: 767.98px) {
    .BookTableCon--container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .BookTable-image {
        width: 100%;
    }


}

@media screen and (min-width: 768px) and (max-width: 991.98px) {}

@media screen and (min-width: 992px) and (max-width: 1199.98px) {}

@media screen and (min-width: 1200px) {}