.app__navbar {
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 2rem;
    /* background: var(--color-light); */
    background-color: rgba(247, 230, 196, 0.9);
    transition: transform 0.3s ease-in-out;

}

.app__navbar-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}


.app__navbar-logo img {
    width: 100px;
}

.app__navbar-links {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    color: var(--color-gray);
    font-size: 16px;
    font-family: 'poppins', sans-serif;


}

.app__navbar-links li {
    margin: 0 .1rem;
    cursor: pointer;
    padding: 8px;
    justify-content: space-between;

}

.app__navbar-links li:hover {
    color: var(--color-orange);
}

/* Hover effect on Nav Links */
.app__navbar-links li {
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}

.app__navbar-links li:focus,
.app__navbar-links li:hover {
    color: var(--color-orange);
}


.app__navbar-links li:focus:after,
.app__navbar-links li:hover:after {
    width: 100%;
    left: 0%;
}

.app__navbar-links li:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 1px;
    background-color: var(--color-gray);
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}

/* Login... */
.app__navbar-login {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: var(--color-gray);
    font-family: var(--font-base);
}

.app__navbar-login a {
    margin: 0 1rem;
    text-decoration: none;
    transition: .5s ease;
    color: var(--color-gray);
    font-size: 16px;


}

.app__navbar-login a:hover {
    border-bottom: 1px solid var(--color-gray);
    color: var(--color-orange);
}

.app__navbar-smallscreen {
    display: none;
}

.app__navbar-smallscreen_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--color-light);
    color: var(--color-orange);
    transition: .5s ease;
    flex-direction: column;
    z-index: 5;

}

.app__navbar-smallscreen_overlay .overlay__close {
    color: var(--color-orange);
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

.app__navbar-smallscreen_links {
    list-style: none;

}

.app__navbar-smallscreen_links li {
    margin: 2rem;
    cursor: pointer;
    color: var(--color-orange);
    font-size: 1.5rem;
    text-align: center;
    font-family: var(--font-base);
}

.app__navbar-smallscreen_links li:hover {
    color: var(--color-gray);
    text-decoration: underline;
}

@media screen and (min-width: 2000px) {
    .app__navbar-logo img {
        width: 210px;

    }
}

@media screen and (max-width: 1150px) {
    .app__navbar-links {
        display: none;
    }

    .app__navbar-smallscreen {
        display: flex;
    }
}

@media screen and (max-width: 650px) {
    .app__navbar {
        padding: 1rem;
    }

    .app__navbar-login {
        display: none;
    }

    .app__navbar-logo img {
        width: 110px;
    }

}

@media screen and (min-width: 650px) {
    #app__login {
        display: none;
    }

    #app__table-cart {
        display: none;
    }
}

#app__login,
#app__table-cart {
    color: var(--color-orange) !important;
}