.ContactInput-main {
    margin: 3rem auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}

.ContactInput-container {
    margin: 5rem auto;
    display: flex;
    justify-content: center;
    width: 50%;
    align-items: center;
}

.Contact-input-image {
    display: flex;
    justify-content: center;
    width: 50%;
    border: 8px double var(--color-orange);
    border-radius: 8px;
}






.form {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    position: relative;
}

.message {
    color: var(--color-gray);
    font-size: 14px;
}

.flex {
    display: flex;
    width: 100%;
    gap: 6px;
}

.form label {
    position: relative;
}

.form label .input {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid var(--color-orange);
    border-radius: 5px;
}

.form label .input+span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: var(--color-gray);
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
}

.form label .input:placeholder-shown+span {
    top: 15px;
    font-size: 0.9em;
}

.form label .input:focus+span,
.form label .input:valid+span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
}

.form label .input:valid+span {
    color: var(--color-gray);
}



.form label .input01+span {
    position: absolute;
    left: 10px;
    top: 50px;
    color: var(--color-gray);
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
}

.form label .input01:placeholder-shown+span {
    top: 40px;
    font-size: 0.9em;
}

.form label .input01:focus+span,
.form label .input01:valid+span {
    top: 50px;
    font-size: 0.7em;
    font-weight: 600;
}

.form label .input01:valid+span {
    color: var(--color-gray);
}

.fancy {
    background-color: transparent;
    border: 2px solid var(--color-orange);
    border-radius: 0px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 60px;
    letter-spacing: 2px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 8px 30px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 0.3s ease-in-out;
    user-select: none;
    font-size: 13px;
    font-family: var(--font-base);
}

.fancy::before {
    content: " ";
    width: 1.7rem;
    height: 2px;
    background: var(--color-light);
    top: 50%;
    left: 1.5em;
    position: absolute;
    transform: translateY(-50%);
    transform: translateX(230%);
    transform-origin: center;
    transition: background 0.3s linear, width 0.3s linear;
}

.fancy .text {
    font-size: 1.125em;
    line-height: 1.33333em;
    padding-left: 2em;
    display: block;
    text-align: left;
    transition: all 0.3s ease-in-out;
    text-transform: lowercase;
    text-decoration: none;
    color: var(--color-gray);
    transform: translateX(30%);
}

.fancy .top-key {
    height: 2px;
    width: 1.5625rem;
    top: -2px;
    left: 0.625rem;
    position: absolute;
    background: white;
    transition: width 0.5s ease-out, left 0.3s ease-out;
}

.fancy .bottom-key-1 {
    height: 2px;
    width: 1.5625rem;
    right: 1.875rem;
    bottom: -2px;
    position: absolute;
    background: white;
    transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy .bottom-key-2 {
    height: 2px;
    width: 0.625rem;
    right: 0.625rem;
    bottom: -2px;
    position: absolute;
    background: white;
    transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy:hover {
    color: white;
    background: var(--color-gray);
}

.fancy:hover::before {
    width: 1.5rem;
    background: white;
}

.fancy:hover .text {
    color: white;
    padding-left: 1.5em;
}

.fancy:hover .top-key {
    left: -2px;
    width: 0px;
}

.fancy:hover .bottom-key-1,
.fancy:hover .bottom-key-2 {
    right: 0;
    width: 0;
}

#input-msg {
    height: 150px !important;
}









/* Extra Small Devices (Phones) */
@media only screen and (max-width: 576px) {

    /* Styles for extra small devices */
    .ContactInput-main {
        margin: 3rem auto;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-direction: column;
    }

    .ContactInput-container {
        margin: auto;
        justify-content: center;
        width: 100%;
        align-items: center;
    }

    .Contact-input-image {
        justify-content: center;
        width: 100%;
    }

}

/* Small Devices (Tablets) */
@media only screen and (min-width: 577px) and (max-width: 768px) {
    .ContactInput-main {
        margin: 3rem auto;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-direction: column;
    }

    .ContactInput-container {
        margin: auto;
        justify-content: center;
        width: 100%;
        align-items: center;
    }

    .Contact-input-image {
        justify-content: center;
        width: 100%;
    }

    /* Styles for small devices */
}

/* Medium Devices (Laptops and Desktops) */
@media only screen and (min-width: 769px) and (max-width: 992px) {
    /* Styles for medium devices */
}

/* Large Devices (Desktops) */
@media only screen and (min-width: 993px) and (max-width: 1200px) {
    /* Styles for large devices */
}

/* Extra Large Devices (Large Desktops and Monitors) */
@media only screen and (min-width: 1201px) {
    /* Styles for extra large devices */
}