@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;700&family=Poppins:wght@300;400;700&family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;700&family=Dancing+Script:wght@400;700&family=Poppins:wght@300;400;700&family=Quicksand&display=swap');

:root {
    --font-base: 'Poppins', sans-serif;
    --font-accent: 'Quicksand', sans-serif;
    --font-dancing: 'Dancing Script', cursive;

    --color-gray: rgb(52, 45, 32);
    --color-light: #F7E6C4;
    --color-white: #ffffff;
    --color-orange: #DC5F00;
    --color-yellow: #F1C376;

}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

a {
    color: unset;
    text-decoration: none;
}

.slide-bottom {
    -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(-25%);
        transform: translateY(-25%);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(-25%);
        transform: translateY(-25%);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}